html {
	font-family: "Open Sans";
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
    
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: white;
}
h2{
    margin-bottom: 51px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #1A1B1E;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 51px;
}
h4{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    display: block;
    -webkit-transition: 0.3s;

}
a:hover{
    color:#DA0100;
    transition: 0.3s;
    
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}


.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1141px;
}
.header-container{
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__right{
    display: flex;
    align-items: center;
}

.menu{
    margin-left: 79px;
}
.menu__list{
    display: flex;
}
.wrapper--main{
    background-image: url('../../img/backgr.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-offers{
    background-image: url('../../img/offers/header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.contacts{
    
    width: 191px;
}

.button{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    padding: 18px 40px;
    width: 168px;
    background: #F5170E;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
}
.button:hover{
    color: white;
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    transition: 0.3s;
}

.social-list__item{
    
    margin-right: 10px;
    
}
.social-list{
    display: flex;
    margin-right: 74px;
}
.social-list__item:nth-child(1){
    
}
.social-list__item:last-child{
    margin-right: 0;
}
.social-list__link:hover .social-list__icon{
    filter:invert(1);
    transition: 0.2s;
}

.paginator{
    justify-content: center;
    display: flex;
    align-items: center;
   
}
.paginator__display{
    
    margin-right: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.paginator__display--black{
    color: black;
}
.paginator__list{
    display: flex;
}
.paginator__item{
    cursor: pointer;
    width: 32px;
    padding: 6px 11px;
    text-align: center;
    border-radius: 100%;
    font-style: normal  ;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    -webkit-transition: 0.1s;
}
.paginator__item--black{
    color: black;
}

.paginator__item:hover{
    color:#F5170E;
    background-color: white;
    transition: 0.2s;
}
.paginator__item--black:hover{
    color: white;
    background-color: #F5170E;
}
.paginator--offers{
    margin-top: 70px;
}
.maincontent{
    margin-top: 131px;
}
.maincontent--offers{
    margin-top: 98px;
}