.footer{
    padding-top: 53px;
    padding-bottom: 65px;
    background-color: #001821;
    
    
}
.footer-container{
    border-top: 2px hsla(0, 0%, 100%, 0.1) solid;
}
.footer-logo{
    margin-top: 45px;
}
.footer-menu{
    margin-top: 59px;
}

.footer-contacts{
    margin-top: 42px;
}

.social-list{
    display: inline-block;
    vertical-align: middle;

}


.contacts__call{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
    float: right;
}