.footer{
   padding-top: 53px;
    padding-bottom: 65px;
    background-color: #001821;  
    
}
.footer-container{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px hsla(0, 0%, 100%, 0.1) solid;
    
}





.contacts__call{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
    text-align: right;
}