.logo{
    margin-top: 29px;
}
.menu{
    margin-top: 42px;
    margin-left: 79px;
}
.contacts{
    margin-top: 27px;
}
.menu__item{
    margin-right: 54px;
}
.menu__item:last-child{
    margin-right: 0;
}
.contacts__info{
    float: right;
}
.menu__link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:white;
}
.contacts__phone{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: white;
    float: right;
}
.contacts__info{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.header{
    position: relative;
}
