
.menu__item{
    margin-right: 54px;
}
.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:white;
}
.contacts__phone{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: white;
    float: right;
 
}
.contacts__info{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    cursor: pointer;
    
}
.header{
    position: relative;
}
.dropdown{
    position: relative;
}
.dropdown__menu{
    opacity: 0;
    text-align: center;
    transform-origin: top;
    float: right;
    background-image: url('../../img/dropdown.png');
    height: 80px;
    width: 160px;
    background-repeat: no-repeat;
    transition: .2s cubic-bezier(.23,-0.25,.68,1.37);
    
    
}
.dropdown:hover .dropdown__menu{
opacity: 1;


}
.dropdown__menu-time{
  margin-top: 22px;
  font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
    
}
.dropdown__menu-dinner{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
}

