
.hello__title{
    margin-bottom: 28px;
    width: 511px;
}
.hello__subtitle{
    margin-bottom: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
