.news{
    padding-top: 127px;
    
}
.news__item{
    display: inline-block;
    width: 557px;
    vertical-align: top;
    margin-bottom: 58px;
    
}

.news__item:nth-child(1){
    background-image: url("../../img/plane.jpg");
    margin-right: 22px;
}

.news__item:nth-child(2){
    background-image: url("../../img/sea.jpg");
}
.news__date{
    margin-top: 252px;
    margin-left: 30px;
    margin-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: white;
}
.news__title{
    margin-left: 30px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.news__subtitle{
    margin-left: 30px;
    width: 483px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
}

.news__item:nth-child(1) .news__subtitle{
    margin-bottom: 47px;
}

.news__item:nth-child(2) .news__subtitle{
    margin-bottom: 26px;
}
