.offers{
    margin-top: 246px;
    
}
.title--fire::after{
    display: inline-flex;
    content: "";
    background-image: url('../../img/fire.png');
    width: 21px;
    height: 28px;
    position: relative;
    margin-left: 12px;
    vertical-align: middle;
}
.offers__list{
    display: flex;
    justify-content: space-between;
}
.offers__item{
    border-radius: 5px;
    background-color: white;
    width: 362px;
    
}
.offers__img{
    border-radius: 5px 5px 0 0;
}
.offers__item:last-child{
    margin-right: 0;
}
.offers__features{
    display: flex;
}
.offers__feature{
    display:flex;
}

.offers__feature-text{
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#666666;
    vertical-align: top;
}
.offers__feature:nth-child(2){
    margin-left: 28px;
}

.offers__content{
    margin-left: 22px;
    width: 324px;
    margin-top: 33px;
}
.offers__title{
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color:black;
}
.offers__features{
    margin-bottom: 24px;
}
.offers__text{
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:#303030;
}
.button--light{
    width: 135px;
    padding: 18px 30px;
    background-color: white;
    color: #F5170E;
    border: 1.5px #F5170E solid;
    margin-bottom: 26px;
}
.button--light:hover{
    background-color: #F5170E;
    color: white;
}