.users{
    padding-top: 98px;
}
.users__content{
    display: flex;
    justify-content: space-between;
}
.users__item{
    background-color: #F4F5F5;
    width: 557px;
}
.users__item:nth-child(1){
    margin-bottom: 17px;
}
.users__item-container{
    padding-top: 50px;
    max-width: 495px;
    margin:0 auto;
    padding-bottom: 32px;
}
.user{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.user__name::after{
    content: "";
    background-image: url('../../img/reviews/vk.png');
    width: 30px;
    height: 30px;
    left:7px;
    position: relative;
}
.user__name{
    margin-bottom: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    color:#1A1B1E;
    display: flex;
    align-items: center;
}
.tag{
    background: #E7E7E7;
    border-radius: 35px;
    padding: 10px 15px;
    max-width: max-content;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #303030;
}
.tag--bg--green{
    background: #B9EAE4;
}
.user__about{
    margin-left: 22px;
    display: flex;
    flex-direction: column;
}
.users__subtitle{
    margin-top: 13px;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #818181;
}
.users__title{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    color: #1A1B1E;
}
.user__name:hover{
    text-decoration-line: underline;
    color: #2E77A4;
    transition: .5s;
}
.users__date{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #1A1B1E;
}
.paginator--reviews{
    margin-top: 75px;
    margin-bottom: 93px;
}
.find{
    background-image: url('../../img/reviews/find.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 363px;
}
.find__title{
    color: #FFFFFF;
    width: 594px;
    text-align: left;
}
.container--find{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.feedback{
    padding-top: 62px;
    background-color: #F4F5F5;
    padding-bottom: 96px;
}
.feedback__title{
    margin-bottom: 67px;
    color: #1A1B1E;
}
.feedback__user{
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}


.form__row{
    display: flex;
}
.form__row:nth-child(1){
    margin-bottom: 26px;
}
.form__input{
    flex: 1;
    margin-right: 28px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1A1B1E;
    outline: none;
}
.form__input::placeholder{
    color: #666666;
}

.form__input:focus{
    border: 1px solid #F5170E;
}
.form__input:last-child{
    margin-right: 0;
}
.form__controls{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}
.form__controls-title{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1A1B1E;
    width: 40%;
}
.controls{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
}


.controls__elem{
    cursor: pointer;
}
.controls__checkbox{
    display: none;
}
.controls__checkbox:checked ~ .controls__tag{
    background-color: #B9EAE4;
    color: #1A1B1E;
}
.form__buttons{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 32px;
}
.button--clear{
    order: 1;
    margin-right: 17px;
    background-color: #8E8E8E;
    transition: .5s;
    color: #FFFFFF;

}
.button--clear:hover{
    background-color: #2B2B2B;
}
.button--submit{
    color: #FFFFFF;
    transition: .5s;
}

